# Model files
*.pth
model_and_optimizer.pth
model.pth

# GPT-2 model files and directories
gpt2/
gpt2_*/
*.ckpt*

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]
*.class

# Mac OS files
.DS_Store