# Model files
*.pth
model_and_optimizer.pth
model.pth

# Jupyter notebook checkpoints
.ipynb_checkpoints/
# GPT-2 model files and data
gpt2/
gpt2_*/ # This will match directories like gpt2_medium, gpt2_large, etc.
